.mainpage {
  background: linear-gradient(
    109.6deg,
    rgb(251, 250, 225) 11.2%,
    rgb(206, 240, 185) 47.5%,
    rgb(100, 163, 111) 100.2%
  );
  padding: 30px;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  opacity: 0.9;
}
body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/136/032/original/8.jpg?1722191434");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.moreinfo {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.moreinfo:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.page {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
